/* contact.css */

.contact {
  margin: 0;
  /* background: linear-gradient(to right, #f8f9fa, #e9ecef); */
  background-color: #7a7c85;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 4%;
}

.contact-container {
  margin: 0;
  width: 100%;
  max-width: 400px; /* Limit the max width */
  background: #acd7f869;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  padding-right: 50px;
}

.contact-container:hover {
  transform: translateY(-5px);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width:50%; margin:40px auto;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #ced4da;
  border-radius: 6px;
  font-size: 1em;
  transition: border-color 0.3s ease;
}

.contact-form input:focus, .contact-form textarea:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

.contact-form textarea {
  height: 100px;
  resize: none;
}

.contact button {
  padding: 8px 16px;
  background-color: #112d4b;
  height: 50px;
  color: #daedf8;
  border: none;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background: linear-gradient(to right, #0056b3, #004080);
}

.success-message {
  color: green;
  margin-top: 10px;
  text-align: center;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .contact-container {
    padding: 20px;
  }

  .contact-form input, .contact-form textarea {
    font-size: 1em;
    padding: 8px;
  }

  .contact-form button {
    font-size: 1em;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .contact{
    padding-left: 15px;
    padding-right: 15px;
  }
  .contact-container {
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .contact-form input, .contact-form textarea {
    font-size: 0.9em;
    padding: 7px;
  }

  .contact-form button {
    font-size: 0.9em;
    padding: 8px;
  }
}
