.navbar {
    background-color:#4b4d54;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo .logo-image {
    max-height: 50px; /* Adjust based on your design */
    height: auto;
    width: auto;
  }
  
  
  .menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
  }
  
  .nav-item {
    margin: 0 15px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #48cae4;
    font-size: 1.5rem;
  }
  
  .nav-link:hover {
    color: #f39c12;
  }
  
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
      height: 100vh;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }
  
    .nav-menu.active {
      transform: translateX(0);
    }
  
    .nav-item {
      margin: 20px 0;
      text-align: center;
    }
  }
  
  /* FontAwesome Icon */
  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
  